.header {
  background: #101010;
}
.header-content {
  height: 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: solid 1px #333333;
}
.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}
.header-menu_item {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  list-style-type: none;
}
.header-menu_item:hover {
  color: #D87D4A;
}
.header-menu_item:nth-child(2) {
  margin: 0 17px 0 34px;
}
.header-menu_item:nth-child(3) {
  margin: 0 34px 0 17px;
}
.header-btn_item {
  margin: 0 12px;
}
.header-btn_item:hover {
  fill: #333333;
}

.menu-btn {
  width: 30px;
  height: 30px;
  position: relative;
  display: none;
  z-index: 2;
}
.menu-btn > span {
  width: 16px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.menu-btn > span:nth-of-type(2) {
  top: calc(50% - 5px);
}
.menu-btn > span:nth-of-type(3) {
  top: calc(50% + 5px);
}

.tablMenu {
  display: none;
}

.activeTablMenu {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 30px;
  position: absolute;
  background-color: #FFFFFF;
  border-radius: 8px;
  height: 344px;
  top: 90px;
  left: 0;
  right: 0;
  bottom: 0;
}

.modalShadow {
  display: none;
}

.shadow {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: #000;
  opacity: 0.5;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .header-menu {
    display: none;
  }
  .menu-btn {
    display: block;
  }
  .activeTablMenu {
    height: 132%;
  }
  .shadow {
    display: block;
  }
}