.header {
  background: #101010;
}
.header-content {
  height: 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: solid 1px #333333;
}
.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-menu_item {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  list-style-type: none;
}
.header-menu_item:hover {
  color: #D87D4A;
}
.header-menu_item:nth-child(2) {
  margin: 0 17px 0 34px;
}
.header-menu_item:nth-child(3) {
  margin: 0 34px 0 17px;
}
.header-btn_item {
  margin: 0 12px;
}
.header-btn_item:hover {
  fill: #333333;
}