.productDescription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 120px 0;
}
.productDescription-features_title {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 1.14286px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 32px;
}
.productDescription-features_description {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.75;
  color: #000;
  opacity: 0.5;
}
.productDescription-inTheBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.productDescription-inTheBox_title {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 1.14286px;
  text-transform: uppercase;
  color: #000000;
}
.productDescription-inTheBox-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.productDescription-inTheBox-list-item_amount {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.75;
  color: #D87D4A;
  margin-right: 24px;
}
.productDescription-inTheBox-list-item_name {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.75;
  color: #000;
  opacity: 0.5;
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .productDescription {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .productDescription-inTheBox {
    margin-top: 120px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .productDescription-inTheBox_title {
    width: 50%;
  }
  .productDescription-inTheBox-list {
    width: 50%;
  }
}
@media screen and (max-width: 576px) {
  .productDescription {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .productDescription-inTheBox {
    margin-top: 40px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .productDescription-inTheBox_title {
    margin-bottom: 24px;
  }
}