.recommend {
  text-align: center;
  margin: 160px 0;
}
.recommend_title {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.42857px;
  text-transform: uppercase;
  color: #000000;
}
.recommend-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.recommend-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.recommend-block-img {
  position: relative;
  background-color: #F1F1F1;
  width: 100%;
  height: 350px;
  padding: 30px;
  border-radius: 8px;
}
.recommend-block-img > img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 60%;
}
.recommend-block_name {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 1.71429px;
  text-transform: uppercase;
  margin-top: 40px;
  height: 80px;
}
.recommend-block:nth-child(2) {
  margin: 0 30px;
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .recommend-block-img {
    height: 250px;
  }
  .recommend-block-img > img {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .recommend-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .recommend-block-img > img {
    width: auto;
  }
  .recommend-block:nth-child(2) {
    margin: 40px 0;
  }
}