@import "_mixins.scss";

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-content {
    width: 450px;
    &_title {
      @include H2;
      & > span {
        color: #D87D4A;
      }
    }
    &_description {
      @include Body-Regular;
      color: #000000;
    }
  }
}