@import "_mixins.scss";

.header {
  background-color: #000!important;
}

.categoryPage {
  &-head {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 242px;
    background-color: #000;
    &_title {
      @include H2;
      color: #fff;
    }
  }
}

.product:nth-child(even) {
  flex-direction: row-reverse;
}