@import "_mixins.scss";

.footer {
  position: relative;
  background: #101010;
  margin-top: 160px;
  &-content {
    padding: 0 0 56px 0;
  }
  &-line {
    width: 101px;
    border: solid 1px #D87D4A;
  }
  &-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 76px 0 32px 0;
    &-menu {
      display: flex;
      &_item {
        @include menuItem-font;
      }
      &_item:hover {
        color: #D87D4A;
      }
      &_item:nth-child(2) {
        margin: 0 17px 0 34px;
      }
      &_item:nth-child(3) {
        margin: 0 34px 0 17px;
      }
    }
  }
  &-about {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    &_txt {
      width: 540px;
      @include Body-Regular;
    }
    &-links {
      &_item:nth-child(2) {
        margin: 0 16px;
      }
    }
  }
  &-copyright {
    &_txt {
      margin-top: 56px;
      @include copyright-font;
    }
  }
}

.facebookIcon:hover, .twitterIcon:hover, .instagramIcon:hover {
  fill: #D87D4A;
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .footer {
    margin-top: 120px;
    &-head {
      flex-direction: column;
      align-items: flex-start;
      &-menu {
        padding: 0;
        margin-top: 32px
      }
    }
    &-about {
      flex-direction: column;
    }
    &-copyright {
      position: absolute;
      bottom: 35px;
    }
  }
}