@import "_mixins.scss";

.header {
  background: #101010;
  &-content {
    height: 94px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #333333;

  }
  &-menu {
    display: flex;
    &_item {
      @include menuItem-font;
    }
    &_item:hover {
      color: #D87D4A;
    }
    &_item:nth-child(2) {
      margin: 0 17px 0 34px;
    }
    &_item:nth-child(3) {
      margin: 0 34px 0 17px;
    }
  }
  &-btn {
    &_item {
      margin: 0 12px;
    }
    &_item:hover {
      fill: #333333;
    }
  }
}

