@import "_mixins.scss";

.header {
  background: #101010;
  &-content {
    height: 94px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #333333;

  }
  &-menu {
    display: flex;
    margin: 0;
    &_item {
      @include menuItem-font;
    }
    &_item:hover {
      color: #D87D4A;
    }
    &_item:nth-child(2) {
      margin: 0 17px 0 34px;
    }
    &_item:nth-child(3) {
      margin: 0 34px 0 17px;
    }
  }
  &-btn {
    &_item {
      margin: 0 12px;
    }
    &_item:hover {
      fill: #333333;
    }
  }
}

.menu {
  &-btn {
    width: 30px;
    height: 30px;
    position: relative;
    display: none;
    z-index: 2;
    > span {
      width: 16px;
      height: 3px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #FFFFFF;
      transition: all 0.5s;
    }
    > span:nth-of-type(2) {
      top: calc(50% - 5px)
    }
    > span:nth-of-type(3) {
      top: calc(50% + 5px);
    }
  }
}
.tablMenu {
  display: none;
}
.activeTablMenu {
  z-index: 2;
  display: flex;
  align-items: flex-end;
  padding-bottom: 30px;
  position: absolute;
  background-color: #FFFFFF;
  border-radius: 8px;
  height: 344px;
  top: 90px;
  left: 0;
  right: 0;
  bottom: 0;
}

.modalShadow {
  display: none;
}
.shadow {
  position:fixed;
  left:0;
  top:0;
  height:100vh;
  width:100vw;
  background:#000;
  opacity:0.5;
  z-index: 1
}

@media screen and (max-width: 767px){
  .header {
    &-menu {
      display: none;
    }
  }
  .menu {
    &-btn {
      display: block;
    }
  }
  .activeTablMenu {
    height: 155%;
  }
  .shadow {
    display: block;
  }
}

