@import "_mixins.scss";

.product {
  display: flex;
  margin: 160px 0;
  &-img {
    background-color: #F1F1F1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
    &_name {
      @include H2;
      width: 80%;
    }
    &_description {
      margin: 32px 0 40px 0;
      width: 80%;
      @include Body-Regular;
      color: #000;
      opacity: 0.5;
    }
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .product {
    flex-direction: column;
    &-img {
      height: 350px;
      & > img {
        height: 100%;
      }
    }
    &-content {
      padding: 0;
      margin-top: 40px;
      align-items: center;
      text-align: center;
      &_name {
        width: 50%;
      }
      &_description {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .product {
    flex-direction: column;
    align-items: center;
    &-img {
      height: 340px;
      width: 100%;
      & > img {
        height: 100%;
      }
    }
    &-content {
      text-align: center;
      margin-top: 32px;
      padding: 0;
      align-items: center;
      &_name {
        @include H4;
      }
    }
  }
}
